body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  p {
    margin: 0;
    padding: 0;
  }

  .header-body { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    .header-name {
      text-transform: uppercase;
    }

    .header-title {
      text-transform: uppercase;
    } 

    .header-img{
        width: 100%;
    }
  }
}
