//
// Gradient system
//
$gradients: () !default;
$gradients: map-merge((chill: linear-gradient(135deg, #09e485 0%, #0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%, #FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%, #FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%, #2F93CC 100%)), $gradients);

// Gradient backgrounds
@mixin bg-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation=='vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  }

  @else if $orientation=='horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  }

  @else {
    background: -webkit-radial-gradient($orientation, $start-color, $end-color);
    background: linear-gradient($orientation, $start-color, $end-color);
  }
}

// box-shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Gradient text
// @include gradient-text(red, yellow, style1);
// OR
// @include gradient-text(red, yellow, style);

@mixin gradient-text($color1, $color2, $style) {
  @if $style=='style1' {
    $angle: 45deg;
    $amount: 35%;
    color: $color1;
    background: -webkit-linear-gradient($angle, $color1, adjust-hue($color1, $amount));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
  }

  @else {
    background-image: linear-gradient(135deg, $color1 0%, $color2 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// Gradient border
@mixin border-gradient($parent, $gradient) {
  #{$parent} {
    border: 20px solid transparent;
    border-width: 6px;
    border-style: solid;
    border-image: $gradient;
    border-image-slice: 1;
  }
}



//  Clearfix useful when use float
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// for old broswer
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin screen($size) {
  $desktop: "(min-width: 1024px)";
  $tablet: "(min-width: 768px) and (max-width: 1023px)";
  $mobile: "(max-width: 767px)";

  @if $size==desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }

  @else if $size==tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  }

  @else if $size==mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  }

  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

@mixin retina($image, $width, $height) {

  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }

  @if $default {
    #{$property}: #{$value};
  }
}


// Will center vertical in page
@mixin center-vertically-in-page {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit''ms');
}

@mixin vertical-align-in-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin roundedCorners($size) {
  -webkit-border-radius: $size + px;
  -moz-border-radius: $size + px;
  border-radius: $size + px;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}