@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import "partials/mixins";
@import "partials/rfs";

$bgSideBar-color : #ecf0f1;
$textSideBar-color : #2c3e50;


html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  @include font-size(1.2rem);
  height: 100%;
  @include font-size(1.2rem);
  @include bg-gradient(#ffffff 0%, #f2f3f3 100%, 135deg);
}

p {
  @include font-size(1.2rem);
  font-weight: 400;
  color: black;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 10px 5px;
  // background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  padding: 5px;
  display: flex;
  align-items: stretch;
  @include box-shadow(1px, 1px, 10px, #002630);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: $bgSideBar-color;
  // @include bg-gradient(#808080 40%, #E6E6E6 80%, horizontal);
  color: $textSideBar-color;
  transition: all 0.3s;
  position: relative;
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;

  .position {
    display: none;
  }

  .name {
    // @include font-size(0.8rem);
    // margin-top: 10px;
    // font-weight: 700;
    // line-height: 80%;
    display: none;
  }
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;

}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a {
  i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  // .menuText {}
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $bgSideBar-color;
  @include box-shadow(1px, 1px, 10px, #ecf0f1);
}

.sidebar-header {
  text-align: center;

  img {
    width: 150px;
    object-fit: cover;
    @include box-shadow(1px, 1px, 10px, #818788);
    border: 2px solid white;
  }
}

// #sidebar .sidebar-header strong {
//   display: none;
//   font-size: 1.8em;
// }

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid $bgSideBar-color;

}

#sidebar ul li a {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background: #868484;
}

#sidebar ul li a i {
  display: inline;
  color: #2ed573;
  // margin-left: 5px;
  // margin-right: 5px;
  @include font-size(1.4rem);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #868484;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

// * CONTENT STYLE


#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: transparent;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -100px !important;
    visibility: hidden;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
    text-align: center;
  }

  #sidebar {
    margin-left: 0;
  }


}



hr {
  padding: 0;
  border: none;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  color: #333;
  text-align: center;

}

hr:before {
  display: inline-block;
  position: relative;
  top: -0.7em;
  @include font-size(1rem);
  padding: 0 0.25em;
  background: rgba(212, 228, 239, 1);
}

// Hamberger button
/* ! Style Hamberger Button */
#sidebarCollapse {
  width: 60px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transform: scale(0.8);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

#sidebarCollapse span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #5352ed;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#sidebarCollapse span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#sidebarCollapse span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#sidebarCollapse span:nth-child(1),
#sidebarCollapse span:nth-child(2) {
  top: 0px;
}

#sidebarCollapse span:nth-child(3),
#sidebarCollapse span:nth-child(4) {
  top: 18px;
}

#sidebarCollapse span:nth-child(5),
#sidebarCollapse span:nth-child(6) {
  top: 36px;
}

#sidebarCollapse.open span:nth-child(1),
#sidebarCollapse.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidebarCollapse.open span:nth-child(2),
#sidebarCollapse.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#sidebarCollapse.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#sidebarCollapse.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#sidebarCollapse.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#sidebarCollapse.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#sidebarCollapse.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#sidebarCollapse.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}