<header class="min-vh-100">
  <nav class="navbar navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/assets/logos/brand_bg_white@1x.png" alt="Quy Nguyen" />
      </a>

      <div class="d-flex menu-btn justify-content-center align-items-center">
        <span>Menu</span>
        <div class="menu-btn__burger"></div>
      </div>
    </div>
  </nav>

  <div class="container header-body">
    <p class="text-name">Quy Nguyen</p>
    <p class="text-title">Full Stack Developer</p>
    <p class="text-intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque, expedita iure eaque minus, harum cum sequi nihil nostrum maiores obcaecati hic sint velit accusamus nesciunt id ab excepturi reiciendis!</p>
    <a href="#">View Projects</a> <span>or</span> <a href="#">About Me</a>
  </div>
</header>
