header {

   position: relative;
  .menu-btn {
    position: relative;
    // width: 80px;
    // height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;

    span {
      font-size: 1.4em;
      margin-right: 10px;
    }
    .menu-btn__burger {
      width: 35px;
      height: 3px;
      background: rgb(0, 0, 0);
      transition: all .5s ease-in-out;
      margin-right: 15px;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 35px;
      background: rgb(0, 0, 0);
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
      height: 2px;
      transform: translateY(-10px);
    }
    .menu-btn__burger::after {
      height: 4px;
      transform: translateY(10px);
    }


  }
  .menu-btn:hover{
    opacity: 0.3;
    .menu-btn__burger {
      height: 4px;
    }
    .menu-btn__burger::before {
      height: 4px;
      transform: translateY(-12px);
    }
    .menu-btn__burger::after {
      height: 4px;
      transform: translateY(12px);
    }
  }


  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


  .header-body {
    position: absolute;
    bottom: 15%;
    left: 25%;
    width: 35vw;
    *{
      padding: 0;
      margin: 0;
      font-size: 16px;
      margin-bottom: 15px;
    }
    .text-name,
    .text-title{
      text-transform: uppercase;
    }

    .text-name{
      letter-spacing: 5px;
      font-size: 18px;
      font-weight: 500;
      color: grey;
    }

    .text-title{
      font-weight: 700;
      font-size: 2.5em;
      line-height: 1em;
    }

    span {
      margin-right: 15px;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      margin-right: 15px;
    }

  }
}
